.container {
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: em(16);
  list-style: none;
  padding-inline-start: 0;

  @media (max-width: em(768)) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  a {
    text-decoration: none;
    color: var(--mantine-color-dark-6);
  }
}

.card {
  width: rem(300);
  aspect-ratio: 1/1;
  border: 1px solid var(--mantine-color-gray-3);
}

.card_top {
  width: 100%;
  height: rem(185);
  background-color: var(--mantine-color-dark-1);
}

.card_content {
  padding: 0 rem(16);
  display: flex;
  flex-direction: column;
  gap: rem(12);
  margin-top: rem(16);
}

.card_item {
  display: flex;
  gap: rem(8);
  align-items: center;

  input:checked:disabled {
    width: rem(14);
    height: rem(14);
    background-color: #2483e2;
  }
}

.new {
  width: rem(300);
  aspect-ratio: 1/1;
  border: 1px solid var(--mantine-color-gray-3);
  display: grid;
  place-items: center;
  padding: 0 rem(16);

  a {
    text-decoration: none;
  }

  p {
    font-size: rem(14);
    display: inline-flex;
    margin-top: rem(8);
    align-items: center;
    gap: rem(8);
  }
}
