.card {
  position: fixed;
  bottom: rem(32);
  right: rem(32);
  padding: rem(8);
  background-color: white;
  border: rem(1) solid var(--mantine-color-gray-4);
  border-radius: var(--mantine-radius-lg);
}

.content {
  display: flex;
  gap: rem(4);
}
