.card {
  margin: 0 auto;
  padding: var(--mantine-spacing-lg);
  border-bottom: rem(1) solid var(--mantine-color-gray-4);
}

.content {
  display: flex;
  gap: rem(16);
  align-items: center;
}

.link {
  flex: 1;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 1;
}
